/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}

/* regole header */

header {
    width: 100%;
    background-color: #ff6900;
    height: 60px;   
    box-shadow: 0 2px #888888;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px 0;
}

.header-banner ul {
    display: flex;
    gap: 10px;
}

.header-banner img {
    width: 100px;
    margin: 15px;
}

.icon {
    padding: 10px;
}

/* regole main */

main  {
    padding-top: 150px;
}

.item {
    position: relative;
}

.item::after {
    content: "";
    display: table;
    clear: both;
}

.item img {
    width: 380px;
}

.item img:hover {
    width: 380px;
}

.item img[alt~=item-1]:hover {
    content: url(../img/1b.webp);
}

.item img[alt~=item-2]:hover {
    content: url(../img/2b.webp);
}

.item img[alt~=item-3]:hover {
    content: url(../img/3b.webp);
}

.item img[alt~=item-4]:hover {
    content: url(../img/4b.webp);
}

.item img[alt~=item-5]:hover {
    content: url(../img/5b.webp);
}

.item img[alt~=item-6]:hover {
    content: url(../img/6b.webp);
}

.like {
    background-color: white;
    font-size: 40px;
    padding: 0 15px;
    position: absolute;
    top: 10px;
    right: 0;
}

.like:hover {
    color: #ff0000;
}

.labels {
    position: absolute;
    bottom: 80px;
    left: 0px;
}

.tag {
    background-color: #ff0000;
    color: white;
    font-weight: 500;
    padding: 5px;
    float: left;
    margin-right: 5px;
}

.sustainability {
    background-color: #008000;
}

.description h5 {
    color: #ff0000;
    font-weight: 500;
}

.extra-sale {
    text-decoration: line-through;
    color: black;
    padding-left: 5px;
}

/* regole footer */

footer {
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 25px;
    margin-top: 50px;
}

.credits ul {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.credits a  {
    font-size: small;
}

.social {
    text-align: center;
}

