/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

ul {
    list-style: none;
}


a {
    text-decoration: none;
}
/* regole header */

header {
    background-color: #ff6900;
    height: 60px;   
    color: #ffffff;
    box-shadow: 0 2px #888888;
    
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-banner a {
    color: #ffffff;
}

.header-banner ul {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-banner img {
    width: 100px;
    margin: 15px;
}

.icon {
    padding: 10px;
}